<div class="row g-4">
  <div class="col-auto">
    <label class="col-form-label">Откуда:</label>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control">
  </div>
  <button class="col-auto btn btn-dark">
    <img class="img-fluid" <%=image_tag("tab.svg")%>
  </button>
  <div class="col-auto">
    <label class="col-form-label">Куда:</label>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" >
  </div>
  <button class="col-auto btn btn-outline-primary">Найти</button>
</div>